<div class="relative w-full max-w-2xl mx-auto overflow-hidden">
    <div
      class="flex transition-transform duration-500 ease-in-out"
      [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
    >
    
    <!-- <p *ngFor="let producto of productos" class="w-full flex-shrink-0 rounded-lg shadow-lg">
        {{producto}}
</p> -->
      <!-- <img
        *ngFor="let img of images"
        [src]="img"
        class="w-full flex-shrink-0 rounded-lg shadow-lg"
      /> -->
    </div>
  
    <!-- Botón Anterior -->
    <button
      class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-700 text-white px-3 py-2 rounded-full hover:bg-gray-900"
      (click)="prevSlide()"
    >
      &#10094;
    </button>
  
    <!-- Botón Siguiente -->
    <button
      class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-700 text-white px-3 py-2 rounded-full hover:bg-gray-900"
      (click)="nextSlide()"
    >
      &#10095;
    </button>
  
    <!-- Indicadores -->
    <div class="absolute bottom-2 left-1/2 transform -translate-x-1/2 flex space-x-2">
      <div
        *ngFor="let producto of productos; let i = index"
        class="w-3 h-3 rounded-full bg-gray-300"
        [class.bg-blue-500]="i === currentIndex"
      ></div>
    </div>
  </div>
  