<div
    class="max-w-sm mx-auto bg-white shadow-md rounded-lg overflow-hidden border border-gray-200 h-[520px] flex flex-col">
    <img [src]="producto.imagen" [alt]="producto.nombre" class="w-full max-h-[250px] object-contain"
        (error)="cargarDefault()">
    <div class="p-4 flex-grow">
        <p class="text-sm text-gray-500 uppercase font-semibold">{{producto.categoria}}</p>
        <div class="mt-2 space-y-2">
            <a [routerLink]="['/producto/' + producto.id]"
                class="text-lg font-medium text-gray-800">{{producto.nombre}}</a>
            <p class="text-xl font-semibold text-[#A4122C]">{{producto.precio.toFixed(2)}} €</p>
        </div>
        <div class="mt-3 flex items-center">
                <p-rating stars="5" [(ngModel)]="valoracion" readonly="true">
                    <ng-template #onicon>
                        <img src="star-filled.svg" height="24" width="24" />
                    </ng-template>
                    <ng-template #officon>
                        <img src="star-empty.svg" height="24"  width="24" />
                    </ng-template>
                </p-rating>
            <p class="ml-2 text-gray-500 text-sm">
                ({{ producto.totalResenias }}) {{ producto.totalResenias > 1 ? 'valoraciones' : 'valoracion' }}
            </p>
        </div>
    </div>
    <div class="px-4 py-2 bg-[#A4122C] border-t border-gray-200 hover:bg-[#c73852]" (click)="agregarCarrito(producto)">
        <button class="w-full text-white py-2 rounded-md transition">
            Agregar a carrito
        </button>
    </div>
</div>