<p-dialog header="Editar Producto" [modal]="true" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Editar Producto</span>
    <!-- <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="p-field">
            <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
            <input id="nombre" type="text" pInputText formControlName="nombre"
                class="mt-1 block w-full p-2 border border-gray-300 rounded-md" />
            <div *ngIf="formControls['nombre'].invalid && (formControls['nombre'].dirty || formControls['nombre'].touched)"
                class="text-red-600 text-sm">
                <div *ngIf="formControls['nombre'].errors?.['required']">El nombre es requerido.</div>
                <div *ngIf="formControls['nombre'].errors?.['pattern']">El nombre solo puede contener letras</div>
            </div>
        </div>
     <div class="p-field">
            <label for="precio" class="block text-sm font-medium text-gray-700">Precio</label>
            <input id="precio" type="number" pInputText formControlName="precio"
                class="mt-1 block w-full p-2 border border-gray-300 rounded-md" />
            <div *ngIf="formControls['precio'].invalid && (formControls['precio'].dirty || formControls['precio'].touched)"
                class="text-red-600 text-sm">
                <div *ngIf="formControls['precio'].errors?.['required']">El precio es requerido.</div>
            </div>
        </div>
        <div class="p-field">
            <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripcion</label>
            <input id="descripcion" type="text" pInputText formControlName="descripcion"
                class="mt-1 block w-full p-2 border border-gray-300 rounded-md" />
            <div *ngIf="formControls['descripcion'].invalid && (formControls['descripcion'].dirty || formControls['descripcion'].touched)"
                class="text-red-600 text-sm">
                <div *ngIf="formControls['descripcion'].errors?.['required']">La descripcion es requerida.</div>
            </div>
        </div>
        <div class="p-field">
            <p-select formControlName="categoria" [options]="listaCategorias" optionLabel="nombre" placeholder="categoria" class="w-full md:w-56"></p-select>
        </div>  
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="hideDialog()" />
            <p-button label="Save" type="submit" />
        </div>
    </form>-->
</p-dialog>