<div class="w-full max-w-2xl m-5 mx-auto bg-white shadow-lg border border-gray-400 rounded-lg p-4 sm:p-6 transition-all hover:shadow-xl">
    <div class="text-yellow-400 text-xl sm:text-2xl mb-3">
        <p-rating stars="5" [(ngModel)]="valoracion" readonly="true">
            <ng-template #onicon>
                <img src="star-filled.svg" height="24" width="24" />
            </ng-template>
            <ng-template #officon>
                <img src="star-empty.svg" height="24"  width="24" />
            </ng-template>
        </p-rating>
    </div>
    <div class="flex flex-col sm:flex-row sm:items-center gap-2 mb-4">
        <h3 class="text-lg sm:text-xl font-semibold text-gray-800">{{comentario.cliente}}</h3>
        <p class="text-sm text-gray-600">{{comentario.fecha | date:'yyyy-MM-dd'}}</p>
    </div>
    <div class="mt-2">
        <p class="text-gray-700 text-sm sm:text-base leading-relaxed">{{comentario.texto}}</p>
    </div>
</div>