<div class="w-72 h-80 border border-[#a9a9a9ee] rounded-xl shadow-lg p-3 m-6">
    <!-- Imagen del producto -->
    <div class="w-full h-3/5 overflow-hidden">
        <img src="https://pbs.twimg.com/media/F3J-379WEAA7lgM?format=jpg&name=large" alt="Imagen del producto"
            class="w-full h-full object-center object-cover rounded-xl">
    </div>
    <!-- Nombre del producto -->
    <p class="mt-2 font-semibold">Nombre del producto</p>
    <!-- Precio y botones de interaccion -->
    <div class="flex flex-row justify-between items-center mt-3 p-2">
        <!-- Precio -->
        <p class="text-lg font-bold">10.00 €</p>
        <!-- Botones de interaccion -->
        <div class="flex gap-2">
            <!-- Boton de agregar al carrito -->
            <button class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 w-8 h-8"></button>
            <!-- Boton de ver detalles -->
            <button class="bg-gray-500 text-white p-2 rounded-md hover:bg-gray-600 w-8 h-8"></button>
        </div>
    </div>
</div>
