<nav class="w-full bg-[#A4122C] p-4 sombra mb-5">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo o nombre de la aplicación -->
    <a href="#" class="text-white text-lg font-bold">Inciensos De Sevilla</a>

    <!-- Enlaces de navegación -->
    <ul class="flex space-x-4">
      <li *ngFor="let categoria of listaCategoria" class="relative group">
        <a [routerLink]="['/catalogo/categoria/',categoria.id]" class="text-white hover:text-gray-200 px-4 py-2 rounded-md transition duration-300 ease-in-out hover:bg-[#8a0e23]">
          {{categoria.nombre}}
          <!-- Efecto de subrayado -->
          <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-gray-200 transition-all duration-300 ease-in-out group-hover:w-full"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>